<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AddMovieController</servlet-name>
        <servlet-class>controller.AddMovieController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMoviesController</servlet-name>
        <servlet-class>controller.AddMoviesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderController</servlet-name>
        <servlet-class>controller.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rmshp</servlet-name>
        <servlet-class>controller.rmshp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nn</servlet-name>
        <servlet-class>controller.nn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMovieController</servlet-name>
        <url-pattern>/AddMovieController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoviesController</servlet-name>
        <url-pattern>/AddMoviesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderController</servlet-name>
        <url-pattern>/ConfirmOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rmshp</servlet-name>
        <url-pattern>/rmshp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nn</servlet-name>
        <url-pattern>/nn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
